{#- https://ttl255.com/jinja2-tutorial-part-3-whitespace-control/ -#}
---
{{ meta_str }}
---
{% if pdf_path %}
[pdf(local)]({{ pdf_path }})
{% endif -%}

{%- if render_h1 %}
# {{ h1_heading }}
{% endif -%}

{%- for sec in h2_sections -%}
{%- if sec.title %}
## {{ sec.title }}
{% endif %}
{{ sec.value }}
{% endfor -%}
