---
{{ meta_str }}
---
{% if pdf_path %}
[pdf(local)]({{ pdf_path }})
{% endif -%}

{%- if render_h1 %}
# {{ meta.title }}
{% endif -%}

{%- if render_abstract %}
## {{ abstract_title }}

{{ abstract }}
{% endif -%}

{% if content %}
{{ content }}
{% endif -%}

{%- if render_ref_list %}
## {{ ref_title }}
{% for ref_str in ref_str_list %}
{{ ref_str }}
{%- endfor %}
{% endif -%}
